<header class="d-flex justify-content-center py-3">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a routerLink="./" class="nav-link" [class.active]="isLinkActive('')">
				Posts
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="./materials" class="nav-link" [class.active]="isLinkActive('materials')">
				Materials
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="./quizzes" class="nav-link" [class.active]="isLinkActive('quizzes')">
				Quizzes
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="./assignments" class="nav-link" [class.active]="isLinkActive('assignments')">
				Assignments
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="./grades" class="nav-link" [class.active]="isLinkActive('grades')">
				Grades
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="./attendance" class="nav-link" [class.active]="isLinkActive('attendance')">
				Attendance
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="./visits" class="nav-link" [class.active]="isLinkActive('visits')">
				Visits
			</a>
		</li>
	</ul>
</header>

<hr>

<router-outlet></router-outlet>