.slider {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
}


.slides-container {
	width: 100%;
	height: 100%;
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	scroll-behavior: smooth;
}

.slides-container::-webkit-scrollbar {
	width: 12px;
}

.slides-container::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.slides-container::-webkit-scrollbar-track {
	background-color: transparent;
}


.slides-container .slid {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 0 0 auto;
	scroll-snap-align: start;
}

.slides-container .slid::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000080;
}

.slides-container .slid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slides-container .slid .details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 75px;
}


.pre {
	position: absolute;
	top: calc(50% - 25px);
	left: 20px;
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.next {
	position: absolute;
	top: calc(50% - 25px);
	right: 20px;
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}