<section class="slider">
	<div class="slides-container">
		<div class="slid">
			<img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
				alt="">
			<div class="details">
				<h1>Slide Title</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consectetur beatae cumque deserunt
					architecto aliquam deleniti maxime ipsa error obcaecati!</p>
				<button type="button" class="btn btn-primary">Learn More</button>
			</div>
		</div>

		<div class="slid" id="slide-1">
			<img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630"
				alt="">
		</div>

		<div class="slid">
			<img src="https://us.123rf.com/450wm/gerain0812/gerain08122307/gerain0812230701048/208921299-symbolic-green-tree-in-a-human-hand-on-blurred-background-respect-for-nature-sustainable-energy-care.jpg?ver=6"
				alt="">
		</div>

		<div class="slid">
			<img src="https://img.freepik.com/free-photo/digital-painting-mountain-with-colorful-tree-foreground_1340-25699.jpg?size=626&ext=jpg&ga=GA1.1.2116175301.1700784000&semt=ais"
				alt="">
		</div>
	</div>

	<button type="button" class="btn btn-primary pre" (click)="scroll('prev')">
		<i class="fas fa-hand-point-left"></i>
	</button>

	<button type="button" class="btn btn-primary next" (click)="scroll('next')">
		<i class="fas far fa-hand-point-right"></i>
	</button>

</section>