<div class="path">
	<i class="fas fa-folder-open"></i>
	courseName/ch-1
</div>
<div class="container">
	<div class="material-item">
		<i class="fas fa-folder"></i>
		<div class="title">Ch-1</div>
	</div>
	<div class="material-item">
		<i class="fas fa-folder"></i>
		<div class="title">Ch-1</div>
	</div>
	<div class="material-item">
		<i class="fas fa-file"></i>
		<div class="title">Ch-1</div>
	</div>

	<div class="material-item">
		<i class="fas fa-file-image"></i>
		<div class="title">Ch-1</div>
	</div>

	<div class="material-item">
		<i class="fas fa-file-video"></i>
		<div class="title">Ch-1</div>
	</div>

	<div class="material-item">
		<i class="fas fa-file-audio"></i>
		<div class="title">Ch-1</div>
	</div>

	<div class="material-item">
		<i class="fas fa-folder-plus"></i>
		<div class="title">Ch-1</div>
	</div>

</div>