<input type="search" class="form-control" placeholder="Search..." aria-label="Search">
<div class="container">
	<div class="card" style="width: 18rem;">
		<img src="https://www.open.edu/openlearn/pluginfile.php/3588197/mod_oucontent/oucontent/116784/4957d6fc/0b48a16e/wk3_fig9_languageskills.tif.jpg"
			class="card-img-top" alt="course image">
		<div class="card-body">
			<h5 class="card-title">Course name</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
				content.</p>
			<a routerLink="./course" class="btn btn-primary">view course</a>
		</div>
	</div>
</div>