::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#sidebar {
	width: 280px;
	overflow: hidden;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column !important;
	justify-content: space-between;
	overflow: auto;
	scroll-behavior: smooth;
	padding-right: 10px;
}

.dropdown-menu {
	position: absolute;
	inset: auto 0px 0px auto;
	margin: 0px; transform:
	translate(0px, -34px);
}

.nav-link:hover {
	opacity: 0.9;
	transition: all .3s ease-in-out;
}