<section class="post">
	<div class="header">
		<div class="user">
			<img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="">
			<div class="details">
				<p class="name">LEVES</p>
			</div>
		</div>
		<div class="settings">
			<i class="fa-solid fa-gear" (click)="toggleDropdown()"></i>
			<div class="dropdown position-relative" *ngIf="isDropdownOpen">
				<ul class="dropdown-menu">
					<li><a href="#">Pin</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Remove</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="body">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum atque sequi dolore cupiditate
		perferendis reiciendis aliquam. Dolorum illo eaque corporis, et quod quaerat fuga veniam dolore. Veritatis
		assumenda sit quas iure, quisquam maiores harum facere saepe, magni odit ducimus perspiciatis! Necessitatibus
		odit et sit expedita numquam ipsam veniam, eum, modi pariatur ipsum dicta ratione sed ut voluptate itaque
		perspiciatis? Numquam dolorem dolore, veniam et nulla cum, vitae impedit nihil non dignissimos temporibus
		excepturi. Aut nam maiores reprehenderit dignissimos laboriosam ea doloribus dolor provident eius voluptas,
		facere quis recusandae omnis suscipit harum id nisi saepe. Velit, officia adipisci? Nesciunt excepturi ipsa ut
		quia magnam labore quisquam necessitatibus ab vitae ea doloremque officiis tenetur aut eveniet, quod dolorum
		accusamus tempore nemo.
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum atque sequi dolore cupiditate
		perferendis reiciendis aliquam. Dolorum illo eaque corporis, et quod quaerat fuga veniam dolore. Veritatis
		assumenda sit quas iure, quisquam maiores harum facere saepe, magni odit ducimus perspiciatis! Necessitatibus
		odit et sit expedita numquam ipsam veniam, eum, modi pariatur ipsum dicta ratione sed ut voluptate itaque
		perspiciatis? Numquam dolorem dolore, veniam et nulla cum, vitae impedit nihil non dignissimos temporibus
		excepturi. Aut nam maiores reprehenderit dignissimos laboriosam ea doloribus dolor provident eius voluptas,
		facere quis recusandae omnis suscipit harum id nisi saepe. Velit, officia adipisci? Nesciunt excepturi ipsa ut
		quia magnam labore quisquam necessitatibus ab vitae ea doloremque officiis tenetur aut eveniet, quod dolorum
		accusamus tempore nemo.
		<img src="https://media.istockphoto.com/id/1225173869/photo/house-boat-anchored-in-lake-with-jungle-background-backwaters-kerala-india.jpg?s=612x612&w=0&k=20&c=uo-bsRQjhlT9AgeWBs_pkSvHQwStCelMC75EUpzwjHU="
			alt="">
	</div>
</section>
<section class="post">
	<div class="header">
		<div class="user">
			<img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="">
			<div class="details">
				<p class="name">LEVES</p>
				<p class="role">Menager</p>
			</div>
		</div>
		<div class="settings">
			<i class="fa-solid fa-gear" (click)="toggleDropdown()"></i>
			<div class="dropdown position-relative" *ngIf="isDropdownOpen">
				<ul class="dropdown-menu">
					<li><a href="#">Pin</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Remove</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="body">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum atque sequi dolore cupiditate
		perferendis reiciendis aliquam. Dolorum illo eaque corporis, et quod quaerat fuga veniam dolore. Veritatis
		assumenda sit quas iure, quisquam maiores harum facere saepe, magni odit ducimus perspiciatis! Necessitatibus
		odit et sit expedita numquam ipsam veniam, eum, modi pariatur ipsum dicta ratione sed ut voluptate itaque
		perspiciatis? Numquam dolorem dolore, veniam et nulla cum, vitae impedit nihil non dignissimos temporibus
		excepturi. Aut nam maiores reprehenderit dignissimos laboriosam ea doloribus dolor provident eius voluptas,
		facere quis recusandae omnis suscipit harum id nisi saepe. Velit, officia adipisci? Nesciunt excepturi ipsa ut
		quia magnam labore quisquam necessitatibus ab vitae ea doloremque officiis tenetur aut eveniet, quod dolorum
		accusamus tempore nemo.
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum atque sequi dolore cupiditate
		perferendis reiciendis aliquam. Dolorum illo eaque corporis, et quod quaerat fuga veniam dolore. Veritatis
		assumenda sit quas iure, quisquam maiores harum facere saepe, magni odit ducimus perspiciatis! Necessitatibus
		odit et sit expedita numquam ipsam veniam, eum, modi pariatur ipsum dicta ratione sed ut voluptate itaque
		perspiciatis? Numquam dolorem dolore, veniam et nulla cum, vitae impedit nihil non dignissimos temporibus
		excepturi. Aut nam maiores reprehenderit dignissimos laboriosam ea doloribus dolor provident eius voluptas,
		facere quis recusandae omnis suscipit harum id nisi saepe. Velit, officia adipisci? Nesciunt excepturi ipsa ut
		quia magnam labore quisquam necessitatibus ab vitae ea doloremque officiis tenetur aut eveniet, quod dolorum
		accusamus tempore nemo.
		<img src="https://media.istockphoto.com/id/1225173869/photo/house-boat-anchored-in-lake-with-jungle-background-backwaters-kerala-india.jpg?s=612x612&w=0&k=20&c=uo-bsRQjhlT9AgeWBs_pkSvHQwStCelMC75EUpzwjHU="
			alt="">
	</div>
</section>
<section class="post">
	<div class="header">
		<div class="user">
			<img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="">
			<div class="details">
				<p class="name">LEVES</p>
				<p class="role">Menager</p>
			</div>
		</div>
		<div class="settings">
			<i class="fa-solid fa-gear" (click)="toggleDropdown()"></i>
			<div class="dropdown position-relative" *ngIf="isDropdownOpen">
				<ul class="dropdown-menu">
					<li><a href="#">Pin</a></li>
					<li><a href="#">Edit</a></li>
					<li><a href="#">Remove</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="body">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum atque sequi dolore cupiditate
		perferendis reiciendis aliquam. Dolorum illo eaque corporis, et quod quaerat fuga veniam dolore. Veritatis
		assumenda sit quas iure, quisquam maiores harum facere saepe, magni odit ducimus perspiciatis! Necessitatibus
		odit et sit expedita numquam ipsam veniam, eum, modi pariatur ipsum dicta ratione sed ut voluptate itaque
		perspiciatis? Numquam dolorem dolore, veniam et nulla cum, vitae impedit nihil non dignissimos temporibus
		excepturi. Aut nam maiores reprehenderit dignissimos laboriosam ea doloribus dolor provident eius voluptas,
		facere quis recusandae omnis suscipit harum id nisi saepe. Velit, officia adipisci? Nesciunt excepturi ipsa ut
		quia magnam labore quisquam necessitatibus ab vitae ea doloremque officiis tenetur aut eveniet, quod dolorum
		accusamus tempore nemo.
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum atque sequi dolore cupiditate
		perferendis reiciendis aliquam. Dolorum illo eaque corporis, et quod quaerat fuga veniam dolore. Veritatis
		assumenda sit quas iure, quisquam maiores harum facere saepe, magni odit ducimus perspiciatis! Necessitatibus
		odit et sit expedita numquam ipsam veniam, eum, modi pariatur ipsum dicta ratione sed ut voluptate itaque
		perspiciatis? Numquam dolorem dolore, veniam et nulla cum, vitae impedit nihil non dignissimos temporibus
		excepturi. Aut nam maiores reprehenderit dignissimos laboriosam ea doloribus dolor provident eius voluptas,
		facere quis recusandae omnis suscipit harum id nisi saepe. Velit, officia adipisci? Nesciunt excepturi ipsa ut
		quia magnam labore quisquam necessitatibus ab vitae ea doloremque officiis tenetur aut eveniet, quod dolorum
		accusamus tempore nemo.
		<img src="https://media.istockphoto.com/id/1225173869/photo/house-boat-anchored-in-lake-with-jungle-background-backwaters-kerala-india.jpg?s=612x612&w=0&k=20&c=uo-bsRQjhlT9AgeWBs_pkSvHQwStCelMC75EUpzwjHU="
			alt="">
	</div>
</section>